@model Login

@{
    ViewData["Title"] = "Login";
}

@*<h1>Login</h1>

<div class="row">
    <div class="col-md-10">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReturnUrl"/>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@
    <section id="hero">
        <div class="hero-container">
            <div class="container my-5 px-0">

                <!--Section: Content-->
                <section class="p-5 my-md-5 text-center">

                    <form class="my-5 mx-md-5" action="">

                        <div class="row">
                            <div class="col-md-6 mx-auto">
                                <!-- Material form login -->
                                <div class="card">

                                    <!--Card content-->
                                    <div class="card-body">

                                        <!-- Form -->
                                        <form class="text-center" style="color: #757575;" action="#!">

                                            <h3 class="font-weight-bold my-4 pb-2 text-center dark-grey-text">Log In</h3>

                                            <!-- Name -->
                                            <input type="email" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Email">

                                            <!-- Email -->
                                            <input type="password" id="defaultSubscriptionFormEmail" class="form-control" placeholder="Password">
                                            @*<small id="passwordHelpBlock" class="form-text text-right blue-text">
                                                <a href="">Recover Password</a>
                                            </small>*@

                                            <div class="text-center">
                                                <button type="button" class="btn btn-outline-green btn-login btn-rounded my-4 waves-effect">Login</button>
                                            </div>

                                        </form>
                                        <!-- Form -->

                                    </div>

                                </div>
                                <!-- Material form login -->
                            </div>
                        </div>

                    </form>

                </section>
                <!--Section: Content-->


            </div>
        </div>
    </section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
