@model User

@{
    ViewData["Title"] = "Register";
}

    <section id="hero">
        <div class="hero-container">
            <div class="container my-5 px-0">
                <!--Section: Content-->
                <section class="p-5 my-md-5 text-center">
                    <form class="my-5 mx-md-5" asp-action="Register">
                        <div class="row">
                            <div class="col-md-6 mx-auto">
                                <!-- Material form login -->
                                <div class="card">
                                    <!--Card content-->
                                    <div class="card-body">
                                        <!-- Form -->
                                        <form class="text-center" style="color: #757575;" asp-action="Register">
                                            <h3 class="font-weight-bold my-4 pb-2 text-center dark-grey-text">Register</h3>
                                            <!-- Name -->
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                            <input asp-for="UserName" class="form-control mb-4" placeholder="Username" />
                                            @*<input type="email" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Email">*@
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                            <input asp-for="Email" class="form-control mb-4" placeholder="Email" />
                                            <!-- Email -->
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                            <input asp-for="Password" class="form-control" placeholder="Password" />
                                            @*<input type="password" id="defaultSubscriptionFormEmail" class="form-control" placeholder="Password">*@

                                            <div class="text-center">
                                                <input type="submit" value="Submit" class="btn btn-register btn-rounded my-4 waves-effect"></input>
                                            </div>
                                        </form>
                                        <!-- Form -->
                                    </div>
                                </div>
                                <!-- Material form login -->
                            </div>
                        </div>
                    </form>
                </section>
                <!--Section: Content-->
            </div>
        </div>
    </section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
