@model DogMedicationTracker.Models.Medication

@{
    ViewData["Title"] = "Create";
}

<div class="container my-5 px-0">
            <!--Section: Content-->
            <section class="p-5 my-md-5 text-center">
                <form class="my-5 mx-md-5" asp-action="Create">
                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <!-- Material form login -->
                            <div class="card">
                                <!--Card content-->
                                <div class="card-body">
                                    <!-- Form -->
                                    <form class="text-center" style="color: #757575;" asp-action="Create">
                                        <h3 class="font-weight-bold my-4 pb-2 text-center dark-grey-text">Create Medication</h3>
                                        <!-- Name -->
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                        <input asp-for="Name" class="form-control mb-4" placeholder="Medication Name" />
                                        <!-- Email -->
                                        <span asp-validation-for="Interval" class="text-danger"></span>
                                        <input asp-for="Interval" class="form-control" placeholder="Days between dosages" />
                                        <div class="text-center">
                                            <input type="submit" value="Submit" class="btn btn-outline-green btn-login btn-rounded my-4 waves-effect"></input>
                                        </div>
                                        <div class="text-center">
                                            <a asp-action="Index">Back to Medications Index</a>
                                        </div>
                                    </form>
                                    <!-- Form -->
                                </div>
                            </div>
                            <!-- Material form login -->
                        </div>
                    </div>
                </form>
            </section>
            <!--Section: Content-->
        </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
