@model Dog

@{
    ViewData["Title"] = "Add a Pet";
}

<h1>Create</h1>

<h4>Dog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Breed" class="control-label"></label>
                <input asp-for="Breed" class="form-control" />
                <span asp-validation-for="Breed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                <input asp-for="Sex" class="form-control" />
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicationId" class="control-label"></label>
                    <select asp-for="MedicationId" asp-items="@ViewBag.MedicationId" class="mdb-select colorful-select dropdown-primary md-form" multiple searchable="Search here..">
                        <option value="0" disabled selected>Choose your pet's medications</option>
                    </select>
                @*<select asp-for="MedicationId" asp-items="@ViewBag.MedicationId" class="form-control">
                    <option value="0">Choose a Medication</option>
                </select>*@
                    <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
        $(document).ready(function() {
            $('.mdb-select').materialSelect();
        });
    </script>
}
