@model DogMedicationTracker.Models.Dog

@{
    ViewData["Title"] = "Edit Pet";
}

<h1>Edit Pet</h1>

<div class="container box">
    <div class="row">
        <div class="col-md-10">
            <form class="text-center" style="color: #757575;" asp-action="Edit" enctype="multipart/form-data">
                <h3 class="font-weight-bold my-4 pb-2 text-center">Edit Your Pet</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <input asp-for="Name" class="form-control mb-4" placeholder="Pet's Name" />
                </div>
                <div class="form-group">
                    <span asp-validation-for="Breed" class="text-danger"></span>
                    <input asp-for="Breed" class="form-control" placeholder="Breed" />
                </div>
                <div class="form-group">
                    <select asp-for="Sex" class="mdb-select md-form md-outline colorful-select dropdown-primary">
                        <option value="" disabled selected>Sex</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="file-field">
                        <div class="mb-4">
                            <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
                                 class="rounded-circle z-depth-1-half avatar-pic" alt="example placeholder avatar"
                                 id="imgpreview">
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="btn btn-mdb-color btn-rounded float-left">
                                <span>Add photo</span>
                                <input asp-for="ImageUpload" type="file">
                                <span asp-validation-for="ImageUpload" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Edit" class="btn btn-register" />
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('.mdb-select').materialSelect();
        });

        $("#ImageUpload").change(function () {
            readUrl(this);
        });
    </script>
}


@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Breed" class="control-label"></label>
                <input asp-for="Breed" class="form-control" />
                <span asp-validation-for="Breed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                <input asp-for="Sex" class="form-control" />
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
