@model IEnumerable<Dog>


@{
    ViewData["Title"] = "Home";
}
<div class="container py-5">
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-6 mb-4 mb-md-0">
                <!--Image-->
                <div class="view overlay z-depth-1-half">
                    <img src="https://mdbootstrap.com/img/Photos/Others/img%20(16).jpg" class="img-fluid" alt="">
                    <a href="#">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 mb-4 mb-md-0">
                <h3 class="font-weight-bold">Welcome Back, @User.Identity.Name</h3>
                <p class="text-muted">
                Below you will find a listing of all your pets. You will be able to add medications for each pet as well as input dates that medications were given.
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </section>
    <!--Section: Content-->
</div>
<div class="container my-5">
    <!-- Section: Block Content -->
    <section class="dark-grey-text text-center">
        <h3 class="font-weight-bold mb-4 pb-2">Your Pets</h3>
        @if (!Model.Any())
        {
            <p class="text-muted w-responsive mx-auto mb-5">You currently have zero pets.</p>
        }
        else
        {
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                @foreach (var dog in Model)
                {
                    <div class="col-lg-4 col-md-12 mb-4">
                        <div class="view overlay rounded z-depth-1">
                            <img src="~/media/uploads/@dog.Image" class="img-fluid" alt="Sample project image">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <div class="px-3 pt-3 mx-1 mt-1 pb-0">
                            <h4 class="font-weight-bold mt-1 mb-3">@dog.Name</h4>
                            <h5 class="font-weight-bold mt-1 mb-3">@dog.Breed</h5>
                            <h5 class="font-weight-bold mt-1 mb-3">@dog.Sex</h5>
                            <a class="btn btn-indigo btn-sm btn-rounded"><i class="fas fa-clone left"></i> View project</a>
                        </div>
                    </div>
                }
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        }
    </section>
    <!-- Section: Block Content -->
</div>
