/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; } /* Vertically center the text there */


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    color: black;
    font-family: "Open Sans", sans-serif;
    padding: 0;
}

a {
    color: #2dc997;
}

    a:hover, a:active, a:focus {
        color: #2dca98;
        outline: none;
        text-decoration: none;
    }

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}





/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/

.navbar-dark {
    background: transparent !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #FFF;
    z-index: 2;
}
.navbar {
    margin: 30px 20px 10px 20px !important;
    box-shadow: none;
}




/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    min-height: 100vh;
    background: url(../images/hero-bg.jpg) top center;
    background-size: cover;
    position: relative;
}

.container-fluid {
    padding: 0;
}

.splash-title {
    color: #2dc997;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (min-width: 768px) {
    #hero .buttons {
        padding: 5px;
    }

    #hero .btn-login {
        width: 138px;
    }
}

#hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#hero h1 {
    margin: 30px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero .btn-login {
        width: 138px;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        margin: 20px 50px;
    }    
    
    #hero h2 {
        margin: 0 50px;
    }
}

#hero h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
}

@media (max-width: 768px) {
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

#hero .btn-login {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    border: 2px solid #fff;
    color: #fff;
    margin: 3px 0;
    /*width: 200px;*/
}

#hero .btn-dashboard:hover {
    background: #2dc997;
    border: 2px solid #2dc997;
}

#hero .btn-dashboard {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    border: 2px solid #fff;
    color: #fff;
    margin: 3px 0;
    /*width: 200px;*/
}

    #hero .btn-login:hover {
        background: #2dc997;
        border: 2px solid #2dc997;
    }

#hero .btn-register {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    border: 2px solid #2dc997;
    color: #fff;
    background: #2dc997;
    margin: 3px 0;
    /*width: 200px;*/
}

    #hero .btn-register:hover {
        background: #2dc997;
        border: 2px solid #2dc997;
    }

